#robot files
log.html
output.xml
playwright-log.txt
report.html
Logs/

#pycache
__pycache__
*.pyc

#mitm files
/certificates
*.cer
*.p12
*.pem

#vscode
.vscode
interactive_console_output.xml

#python files
*.egg-info
venv/*

# other
pypi_token.txt
